<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Participation in the Village Gram Sabha Meeting</div>
		<div class="panel-body">
			<img src="resources/images/initiatives/other/purano1-1.jpg" width="40%" class="init-image"/>
			<blockquote>
				<p>“It is the purposeful hard work and sweat of the youth that will transform India into a powerful nation.”</p>
				<footer>President Abul Kalam Azad</footer>
			</blockquote>
			<p>Recognising that the key to improve the social scenario in the state lies in promoting a synergy between the voluntary action of the Youth and the institutional mechanism of the Gram Panchayats and sabhas, the team attended the Gram Sabha Meeting of the Village, Puranpur on Febraury 3, 2018.</p>
			<img src="resources/images/initiatives/other/purano1-2.jpg" width="40%" class="init-image"/>
			<p>Mrs Rachna, Village Secretary presented the funds sanctioned for various developmental projects and the proposals proposed till date. Discussion took place for the proposals that needs to be taken. The team actively participated and discussed the dubious things, getting more intuition into the scenario of the village which will help the team to make good future endeavours.</p>
		</div>
	</div>	
</div>