<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Republic Day Events</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/puranpur/8/1.jpg" width="45%" height="300px" class="init-image"/>
					<div>
							On  26th January 2019, Unnat Bharat Abhiyan IIT Roorkee organized a Republic Day fun event in a school of village, Puranpur. The team organized a drawing competition, a quizzing event, and fun races for primary students after their Republic Day parade.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					
					<div>
							What was more exciting was the prizes. The children were given shirts that were painted in an event ‘Rang-de-Zindagi’ organized by UBA IITR in Thomso, IIT Roorkee along with chocolates and crayon pencils. Our subtle efforts would go a long way to bring smiles to the faces of these children.
						<br><br>
						It is with this social encouragement, we seek to build the future, of India.
					</div>
					<img class= "right" src="resources/images/initiatives/puranpur/8/2.jpg" width="42%" height="300px" class="init-image"/>
				</li>
			</ul>
	
		</div>
	</div>	
</div>