<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Information Communication Technology</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/puranpur/3/1.jpg" width="40%" height="280px" class="init-image"/>
					<div>
							To foster learning through new technology in the village of Puranpur, the team planned and carried out a computer training initiative for the primary and secondary school students of Scholars Academy, a CBSE school in Puranpur.
							<br><br>
							A total of 24 students from classes V-VIII were given basic, hands-on computer training on laptops brought by members of the UBA team.
							This initiative was planned to be conducted in 3 phases, on three weekends. Also, supportive material was also prepared to be given to the students.
					
					</div>
				</li>
				
				<li class="initiativeContentTemplate">
					

					<div>
							The team asked the teachers of Scholar’s Academy School, Puranpur to provide with the names of 24 students so that the classes can be organized for them. The students were imparted with the knowledge of MS Word, MS Excel, MS Powerpoint and MS Paint. 
							<br><br>
							<b>October 3,2018</b>: Meeting with the principal of school, Mrs. Meera Tyagi, of Scholars Academy. Data of all interested students for the initiative was collected.
					</div>
					<img class="right" src="resources/images/initiatives/puranpur/3/2.jpg" width="47%" height="300px" class="init-image"/>

				</li>
	
				<li class="initiativeContentTemplate">					
					<div>
							<b>October 13,2018</b>: Day 1 of ICT Initiative was carried out in the school in Puranpur. The children were given the study material and computer basics were taught. The children explored using a computer for the first time on the laptops brought by the team members. Computer hardware, file systems, WordPad typing and Microsoft Paint were taught to the students.

					</div>
					

				</li>
				<li class="initiativeContentTemplate">
						<img  src="resources/images/initiatives/puranpur/3/4.jpg" width="45%" height="270px" class="init-image"/>
					<div>
								Similarly the initiative was carried out on two more weekends namely, October 20 & 21, 2018.
								The students were taught basics of Microsoft Word and Microsoft Excel on the second day. Students were taught Microsoft PowerPoint, File handling, and Web browsing on the third.
								<br>
								It was an interactive session and the children were fascinated by letting them explore themselves on the computer for a while.
								<br>Further study material was given to keep the children engaged.
						</div>
				</li>
			</ul>
	
		</div>
	</div>	
</div>