<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">camp</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/1.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
						Sensing the need to make a child aware of physical abuse at an early stage rather than waiting for time to preach, team UBA Meerpur organized a Sexual Harassment Awareness Camp for girls of classes 8th, 9th and 10th. Ms Mrunali Damania, a PhD student at IIT Roorkee delivered a session on ‘How to be aware of the presence of evils around you’. 
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/2.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
						The camp was conducted successfully on October 13, 2018 with an overwhelming participation of more than 100 girl students of class 8th, 9th and 10th of Junior High School, Meerpur.
						<br>
						Girls got to know about a new aspect of life and were highly motivated to act in the correct direction if any kind of incident happens with them in future.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/4.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
						The guest speaker Ms Mrunali Damania was very happy to see such an overwhelming response.
						<br>
						Further initiatives relating to girl safety and hygiene have also been conducted in different schools in the village of Meerpur.				</div>
				</li>
			</ul>
	
		</div>
	</div>	
</div>