<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Health Camp</div>
		<div class="panel-body">
			<img src="resources/images/initiatives/health/puranh2-1.jpg" width="40%" class="init-image"/>
			<blockquote>
				<p>"The foundation of success in life is good health: that is the substratum fortune; it is also the basis of happiness. A person cannot accumulate a fortune very well when he is sick."</p>
				<footer>P. T. Barnum</footer>
			</blockquote>
			<p>
			<img src="resources/images/initiatives/health/puranh2-2.jpg" width="40%" class="init-image"/>
			Keeping this in mind and analysing that due to lack of proper healthcare facilities and experienced doctors,people suffer in terms of health,the team took a small step in improving the situation by conducting a health camp for children on October 14, 2018. Detailed check up which included Ear Nose and Throat Test, Skin Test, Haemoglobin Test, and Body Mass Index Measurement, was conducted for 66 Children of the village. </p>
			<p>This health camp not only pointed out the ill health of children but also did the work of creating awareness among the villagers regarding the health of growing children.</p>
			<img src="resources/images/initiatives/health/puranh2-3.jpg" width="40%" class="init-image"/>
			<p>Even in today's modern age, there are people who aren't aware of the need for proper health care and timely vaccination. So, let us come together and pledge to create awareness for the same for the benefit of a socially backward section of our society.
			</p>			
			
		</div>
	</div>	
</div>