<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Adolescents Health and hygiene awareness programme</div>
		<div class="panel-body">
			<img src="resources/images/initiatives/health/puranh3-1.jpg" width="100%" class="init-image"/>
			<p>It was analyzed after conducting a survey in Puranpur that the girls in Puranpur were not aware of basic healthy habits, problems and the purpose of maintaining good health and hygiene. So in a bid to create awareness among village girls about health and hygiene in daily routine and providing them with remedies for the problems they face during menstruation, this programme was conducted in 2 sessions, one on September 23, 2017 and other on October 15, 2017 so as to cover all of the village adolescents.</p>
			<p>A video was shown regarding the menstrual cycle and an interactive session was conducted for 45 minutes in which the problems they were facing were discussed and then refreshments were provided and sanitary napkins were distributed to the girls who attended the camp.</p>
			<p>With a total of 45 girls who attended the camp, it was rated good and informative. The team was asked to conduct more such camps to discuss the prevailing problems. The parents don’t allow the girls to go out for education, so they want a motivational session to be conducted for the parents as well.</p>
		</div>
	</div>	
</div>