<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Science exhibition in the IITR campus</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/puranpur/7/1.jpg" width="45%" height="300px" class="init-image"/>
					<div>
							The most impacting way to change a student’s life is to make them realize their potential is and how can they utilize it to the fullest!
							<br><br>
							Keeping this in mind,Team Unnat Bharat Abhiyan IIT Roorkee organized a Science Exhibition and a Campus Visit for the students of Scholar’s Academy School, Puranpur on 9th March ‘19, in order to nurture the young scientists among the students of Class VI, VII and VIII. Team UBA selected 9 working models by the students of Scholar’s Academy, Puranpur which were displayed during Srishti, IIT Roorkee.

					</div>
				</li>
				<li class="initiativeContentTemplate">
					
					<div>
							Several creative and scientific models like Vacuum Cleaner, Hydraulic Arm, DJ System, Bubble Machine and Wind-propelled boat were highly admired by both the Judges and the attendees. Campus Visit was also organized for the students of Junior High School, Meerpur for the Academically excellent curious minds. The students got a chance to witness the beauty of IIT Roorkee along with the annual Technical Exhibition of campus.
							<br><br>
							Exploring the campus gave them a motivation that there is something really great worth studying for. An interactive motivational session was conducted by the final year team members.
					</div>
					<img class= "right" src="resources/images/initiatives/puranpur/7/2.jpg" width="30%" height="500px"  class="init-image"/>
				</li>
			
				<li class="initiativeContentTemplate">
						<img  src="resources/images/initiatives/puranpur/7/4.jpg" width="50%" height="300px" class="init-image"/>
					<div>
							The students also attended a session conducted by Design Innovation Center, IIT Roorkee and were explained about various projects showcased by different campus groups in order to motivate them undertake such projects.
							<br><br>
							The exhibition and the visit aimed to create a long-lasting impact on the minds of young students to pursue science and technology in the future. The enthusiasm with which the students showcased their efforts in making their models and the eagerness to learn more, made us believe that all the efforts that the team had put in will surely bring out the spirit of innovation hidden in the students.
					</div>
					
				</li>	
			</ul>
	
		</div>
	</div>	
</div>