<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Participation in Gram Sabha Meeting</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/1.JPG" width="45%" height="300px" class="init-image"/> -->
					<blockquote>“It is the purposeful hard work and sweat of the youth that will transform India into a powerful nation.”
					<br><em> - President Abul Kalam Azad</em>
					</blockquote>
					
				</li>
				<li class="initiativeContentList">
						<div>
								Sensing the need to make a child aware of physical abuse at an early stage rather than waiting for time to preach, team UBA Meerpur organized a Sexual Harassment Awareness Camp for girls of classes 8th, 9th and 10th. Ms Mrunali Damania, a PhD student at IIT Roorkee delivered a session on ‘How to be aware of the presence of evils around you’. 
						</div>
				</li>
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/2.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
							Recognising that the key to improve the social scenario in the state lies in promoting a synergy between the voluntary action of the Youth and the institutional mechanism of the Gram Panchayats and Sabhas, the team attended the Gram Sabha Meeting of the Village, Puranpur on February 3, 2018.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/4.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
							Mrs. Rachna, Village Secretary presented the funds sanctioned for various developmental projects and the proposals proposed till date. Discussion took place for the proposals that needs to be taken. The team actively participated and discussed the dubious things, getting more intuition into the scenario of the village which will help the team to make good future endeavors.
					</div>
				</li>
			</ul>
	
		</div>
	</div>	
</div>