<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Health Camp</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						<blockquote>
								"The foundation of success in life is good health: that is the substratum fortune; it is also the basis of happiness. A person cannot accumulate a fortune very well when he is sick."
								<br><em> - P. T. Barnum</em>
						</blockquote>
						
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/puranpur/2/1.jpg" width="55%" height="320px" class="init-image"/>
					
					<div>
							Health camp was organized in the village to do a complete checkup of all the children of the government primary school students of the village who could not afford to visit a doctor themselves. This was an attempt to alleviate the health conditions of the village by identifying any children with diseases, malnutrition children and also to create a database of health status of each child in the Primary School. 
							<br /><br/>
							The team discussed the initiative with the principal of the school and requested her to do the promotions in the school for the students of class I-IV. Posters for the health camp were also distributed to the students. Around 120 students were covered during the publicity drive.
					</div>
				</li>
		
				<li class="initiativeContentTemplate">
						<div>
								The camp was organized on October 14, 2018 and 66 students turned up for the Health Checkup. Their Height, weight and B.M.I. check was done. Blood samples were also taken to check the haemoglobin level in the children. 
								<br>
								<br>
								On <b>September 27, 2018 & October 7, 2018:</b> <br><br>
								The team members met with Dr. Rajiv Kumar, child specialist at Happy Family Hospital, Roorkee. The doctor agreed to execute the Health Camp on October 14, 2018.
								<br>
								He asked the team to collect vaccination data of children as a part of groundwork for the health camp.
						</div>
						<!-- <img class= "right" src="resources/images/initiatives/puranpur/2/2.jpg" width="45%" height="300px" class="init-image"/> -->
					</li>

				<li class="initiativeContentTemplate">
					<div>
						On <b>October 13, 2018:</b>  <br><br>
						Publicity for the health camp was carried out in the primary government school of the village. Posters were distributed and children were asked to come along with their parents. Around 120 children were covered during publicity event.
						<br><br>
						Even in today's modern age, there are people who aren't aware of the need for proper health care and timely vaccination. So, let us come together and pledge to create awareness for the same for the benefit of a socially backward section of our society.­

					</div>
					<img class="right" src="resources/images/initiatives/puranpur/2/3.jpg" width="48%" height="300px" class="init-image"/>

				</li>
			
			</ul>
	
		</div>
	</div>	
</div>