<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">iNSPIRE</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/1.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
							The iNSPIRE initiative aims to provide better knowledge and awareness in various fields to the students through inspirational activities. And it works to motivate and encourage the students to learn the new things.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/2.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
							Under this initiative, the team prepares and demonstrates some inspirational activities like science experiments, motivational documentary and videos to students.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<!-- <img src="resources/images/initiatives/puranpur/6/4.JPG" width="45%" height="300px" class="init-image"/> -->
					<div>
							On August 11, 2018, simple science experiments were demonstrated in the Govt. Primary School of village Puranpur. All students from class I-V learnt new concepts and were intrigued by the experiments.
						<br>
						iNSPIRE initiative is one of the best ways to keep children engaged while making them learn something new.
					</div>
				</li>
			</ul>
	
		</div>
	</div>	
</div>