html, body{
  height: 100%;
  width: 100%;
}

.uba-logo{
  height: 100px;
  /* float:  left; */
}

.header h4{
  font-family: Acme;
  color: #cc3300;
}

.uba-nav-logo{
  height: 60px;
}

.iitr-logo{
  height: 60px;
  /* float:  right; */
}

/* .header {
  background-image: url("../images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
} */

.header{
  height: 100%;
}

#navbar {
  overflow: hidden;
  z-index: 1000000;
  position: fixed;
  width: 100%;
  top: 0;
}

.content {

  /* padding: 16px; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#uba-content{
  width: 100%;
}

.sticky + #uba-content {
  margin-top: 116px;
}
.navbar-inverse{
  height: 150px;
  background:rgba(0,0,0,0.3);
  border-bottom-width: 0px;
  border-bottom-color: #cc3300;
  border-bottom-style: solid;
}
.navbar-inverse .container{
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-inverse .container .collapse{
  margin: auto;
}

nav .navbar-brand{
  font:12px Lato;
  text-transform:uppercase;
  color:#FFF;
  letter-spacing:2px;
  margin-top:2px;
}

.navbar{
  margin-bottom: 0px;
}

nav .nav{
  margin-bottom:0px;
}

.navbar-nav{
  margin:  0 auto;
  float: none;
  display: table;
}

.navbar-inverse .navbar-nav > li > a{
  color: #ffffff;
}

  nav a{
    font:500 11px Lato;
    letter-spacing:2px;
    padding:16px;
    color:#a3bfc6;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  nav a:hover{
    color:#FFF;
  }
  nav li{
    position:relative;
  }

.navbar-inverse .navbar-toggle{
  border:none;
}

.navbar-header{
  display: none;
}

nav .navbar-collapse{
  box-shadow:none;
}

.navbar-inverse .navbar-toggle:hover{
  background:transparent;
}

.navbar-inverse .navbar-toggle:focus{
  background:transparent;
}

.navbar-inverse .navbar-toggle:active{
  background:transparent;
}

nav .icon-bar{
  background:#a3bfc6;
}

nav .hover{
  display:block;
  border-radius: 15px;
  position:absolute;
  width:0%;
  height:100%;
  top:0px;
  left:0px;
  background:#cc3300;
  z-index:0;
  opacity:0;
}

@media (max-width: 767px) {
  nav .nav{
    padding-bottom:20px;
  }
    nav a{
      padding:12px;
    }
  
}

@media (max-width: 480px) {
  nav .nav{
    padding-bottom:20px;
  }
}
