html, body{
  height: 100%;
  width: 100%;
}

.uba-logo{
  height: 100px;
  /* float:  left; */
}

.header h4{
  font-family: Acme;
  color: #cc3300;
}

.uba-nav-logo{
  height: 60px;
}

.iitr-logo{
  height: 60px;
  /* float:  right; */
}

/* .header {
  background-image: url("../images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
  } */

  .header{
    height: 100%;
  }

  #navbar {
    overflow: hidden;
    z-index: 1000000;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .content {

    /* padding: 16px; */
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #uba-content{
    width: 100%;
  }

  .sticky + #uba-content {
    margin-top: 116px;
  }
  .navbar-inverse{
    /* height: 100px; */
    background-color: #222B31;
    border-bottom-width: 0px;
    border-bottom-color: #cc3300;
    border-bottom-style: solid;
  }
  .navbar-inverse .container{
    height: 100%;
    width: 100%;
  }

  .navbar-inverse .container .collapse{
    margin: auto;
    padding-top: 25px;
  }

  .navbar{
    margin-bottom: 0px;
  }

  nav .nav{
    margin-bottom:0px;
  }

  .navbar-nav{
    margin:  0 auto;
    float: none;
    padding-left: 75px;
  }

  .navbar-inverse .navbar-nav > li > a{
    color: #ffffff;
  }

  nav a{
    font:700 13px Lato;
    letter-spacing:1.5px;
    padding:16px;
    color:#a3bfc6;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  nav a:hover{
    color:#FFF;
  }
  nav li{
    position:relative;
  }

  .navbar-inverse .navbar-toggle{
    border:none;
  }

  .navbar-header{
    padding-top: 18px;
    padding-left: 45px;
  }

  .navbar-brand{
    margin-bottom: 30px;
    
  }

  .navbar-brand .row:nth-child(1){
    font-size: 28px;
    letter-spacing: 1px;
    font-family: "Garamond";
    padding-bottom: 0px;
    line-height: 32px;
    transform: scale(1.2, 1.5)
  }

  .navbar-brand .row:nth-child(2){
    font-size: 10px;
    letter-spacing: 2px;
  }

  nav .navbar-collapse{
    box-shadow:none;
    padding-left: 70px;
  }

  .navbar-inverse .navbar-toggle:hover{
    background:transparent;
  }

  .navbar-inverse .navbar-toggle:focus{
    background:transparent;
  }

  .navbar-inverse .navbar-toggle:active{
    background:transparent;
  }

  nav .icon-bar{
    background:#a3bfc6;
  }

  nav .hover{
    display:block;
    border-radius: 15px;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:#cc3300;
    z-index:0;
    opacity:0;
  }

  @media (max-width: 1237px) {
    nav .nav{
      padding-bottom:20px;
    }
    nav a{
      font:400 10px Lato;
    letter-spacing:1.5px;
    padding:12px;
    color:#a3bfc6;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
    }

  }

  @media (max-width: 480px) {
    nav .nav{
      padding-bottom:20px;
    }
  }

@media (min-width: 0px) and (max-width: 1124px) {
    .navbar-collapse.collapse {
      border-top: 1px solid rgb(16,16,16);
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    nav li, .navbar-form{
      float: none !important;
    }
    .navbar-nav{
      padding-right: 180px;
    }
}