html, body{
  height: 100%;
  width: 100%;
}

.uba-logo{
  height: 100px;
  /* float:  left; */
}

.header h4{
  font-family: Acme;
  color: #cc3300;
}

.uba-nav-logo{
  height: 60px;
}

.iitr-logo{
  height: 60px;
  /* float:  right; */
}

#navbar ul.nav li {
  transition: 0.3s ease;
  /* background: #3fa46a; */
  color: #f2f2f2;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #1c1c1c;
  border-bottom: 4px solid #1c1c1c;
  padding: 12px 0;
  margin: 6px 8px;
}
#navbar ul.nav li:hover {
  color:  #ffffff;
  margin-top: 12px;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
#navbar ul.nav li a{
  padding-top:  4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

/* .header {
  background-image: url("../images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
  } */

  .header{
    height: 100%;
  }

  #navbar {
    overflow: hidden;
    z-index: 1000000;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .content {

    /* padding: 16px; */
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #uba-content{
    width: 100%;
  }

  .sticky + #uba-content {
    margin-top: 116px;
  }
  #navbar .navbar-inverse{
    /* height: 100px; */
    background-color: #1c1c1c;
    border-bottom-width: 0px;
    border-bottom-color: #cc3300;
    border-bottom-style: solid;
  }
  #navbar .navbar-inverse .container{
    height: 100%;
    width: 100%;
  }

  #navbar .navbar-inverse .container .collapse{
    margin: auto;
    /* padding-top: 25px; */
  }

  #navbar .navbar{
    margin-bottom: 0px;
  }

  #navbar nav .nav{
    margin-bottom:0px;
  }

  #navbar .navbar-nav{
    margin:  0 auto;
    float: none;
    padding-left: 120px;
  }

  #navbar nav a{
    font:700 13px Lato;
    letter-spacing:1.5px;
    padding: 0px 16px;
    color:#a3bfc6;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  #navbar nav a:hover{
    color:#FFF;
  }
  #navbar nav li{
    position:relative;
  }

  .navbar-inverse .navbar-toggle{
    border:none;
  }

  .navbar-header{
    padding-top: 5px;
    padding-left: 30px;
  }

  .navbar-brand{
    margin-bottom: 15px;
    
  }
  .navbar-form{
    margin-top: 17px;
  }

  .navbar-brand .row:nth-child(1){
    font-size: 28px;
    letter-spacing: 1px;
    font-family: "Garamond";
    padding-bottom: 0px;
    line-height: 32px;
    transform: scale(1.2, 1.5)
  }

  .navbar-brand .row:nth-child(2){
    font-size: 10px;
    letter-spacing: 2px;
  }

  #navbar nav .navbar-collapse{
    box-shadow:none;
    padding-left: 70px;
  }

  .navbar-inverse .navbar-toggle:hover{
    background:transparent;
  }

  .navbar-inverse .navbar-toggle:focus{
    background:transparent;
  }

  .navbar-inverse .navbar-toggle:active{
    background:transparent;
  }

  #navbar nav .icon-bar{
    background:#a3bfc6;
  }

  #navbar nav .hover{
    display:block;
    border-radius: 15px;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:#cc3300;
    z-index:0;
    opacity:0;
  }

/*   @media (max-width: 1286px) {
    #navbar nav .nav{
      padding-bottom:20px;
    }
    #navbar nav a{
      font:400 10px Lato;
    letter-spacing:1.5px;
    padding:12px;
    color:#a3bfc6;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
    }

  }
 */
  @media (max-width: 480px) {
    #navbar nav .nav{
      padding-bottom:20px;
    }
  }

@media (min-width: 0px) and (max-width: 1330px) {
    .navbar-collapse.collapse {
      border-top: 1px solid rgb(16,16,16);
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    #navbar nav li, .navbar-form{
      float: none !important;
    }
    .navbar-nav{
      padding-right: 180px;
    }
}