<div class="car-container">
	<div class="slideshow-container">
		<!-- <img class="top-uba-logo" src="resources/images/logo.png" height="100" width="100" />
		<img class="top-iitr-logo" src="resources/images/iitr-logo.png" height="100" width="100" /> -->
		
		<div class="mySlides">
			<div class="numbertext">1 / 6</div>
			
			<img src="resources/images/home/car1.jpg" width="100%" height="100%" style="width:100%">

		</div>

		<div class="mySlides">
			<div class="numbertext">2 / 6</div>
			<img src="resources/images/home/car2.png" width="100%" height="100%" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">3 / 6</div>
			<img src="resources/images/home/car3.jpg" width="100%" height="100%" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">4 / 6</div>
			<img src="resources/images/home/car4.jpg" width="100%" height="100%" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">5 / 6</div>
			<img src="resources/images/home/car5.jpg" width="100%" height="100%" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">6 / 6</div>
			<img src="resources/images/home/car6.jpg" width="100%" height="100%" style="width:100%">
		</div>

		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		<div class="dot-div" style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span> 
			<span class="dot" onclick="currentSlide(2)"></span> 
			<span class="dot" onclick="currentSlide(3)"></span> 
			<span class="dot" onclick="currentSlide(4)"></span> 
			<span class="dot" onclick="currentSlide(5)"></span> 
			<span class="dot" onclick="currentSlide(6)"></span> 
		</div>
	</div>
	<div class="newsLetter">
		<div>
			<h3 style="text-align: center">Recent Activities	</h3>
			<ul>
				<li><a href="../resources/data/uba_newsletter.pdf" target="blank">Newsletter <img width="16px"  marginLeft="4px" src="../resources/images/external.svg"</a></li>
			</ul>
		</div>
	</div>

	
</div>
<style>
.car-container * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.car-container{
	/* position: absolute; */
	padding: 90px 80px;
	padding-bottom: 40px;
	/* width: 100%; */
	/* height: 100%; */
	height: auto;
	display: flex;
	flex-wrap: wrap;

}

.dot-div{
	position: relative;
	bottom: 45px;
}

/* Slideshow container */
.slideshow-container {
	/* width: 56%; */
	height: 336px;
	position: relative;
	/* margin: auto; */
	flex:2;
	min-width: 500px;
}
.car-container .newsLetter {
	flex: 1;
	/* height: 336px; */
	width: 200px;
	background: #1c1c1c;
	border-left: 10px solid white;
	color: white;
	/* border: 10px solid white; */
	padding: 15px;
	border-right: none;
	font-size: 1.5rem;
}
.car-container .newsLetter ul {
	padding-top: 10px;
}
.car-container .newsLetter ul li a{
	font-size: 1.9rem !important;
	color: #f1f1f1;
	text-decoration: none;

}
.car-container .newsLetter ul li a:hover {
	color: rgb(51, 122, 183);;
	text-decoration: none;
}
.car-container .newsLetter>div {
	border: 2px solid #333;
	height: 100%;
	padding: 20px;
	
	
}

.top-uba-logo{
	/* position: absolute; */
	/* top: 20px; */
	/* left: 30px; */
	/* opacity: 0.65; */
	align-self: center;
	min-width: 148px;
	flex: 1;
	
}

.top-iitr-logo{
	/* position: absolute;
	top: 20px;
	right: 30px;
	opacity: 0.65; */
	align-self: center;
	/* width: 118px; */
	height: 128px;
	min-width: 128px;
	max-width: 128px;
	flex: 1;
}


/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	/* width: 100%; */
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	display: none;
	/* height: 15px; */
	/* width: 15px; */
	/* margin: 0 2px; */
	/* background-color: #bbb; */
	/* border-radius: 50%; */
	/* display: inline-block; */
	border-top: 3px solid #333;
	padding-bottom: 2px;
	width:35px;
	margin: 0 5px;
	transition: background-color 0.6s ease;
}
.slideshow-container:hover .dot{
	display: inline-block;
}
.active, .dot:hover {
	/* background-color: #717171; */
	/* background-color: white; */
	border-top: 3px solid #f1f1f1;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.mySlides{
	width: 100%;
	height: 100%;
	position: relative;
}

.mySlides *{
	width: 100%;
	height: 100%
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

@media only screen and (min-width: 1440px) {
	.car-container {
		padding: 90px 100px;
	}
}
@media only screen and (min-width: 1600px) {
	.car-container {
		padding: 90px 120px;
	
	}
	.slideshow-container {
		height: 400px;
	}
	.newsLetter {
		height: 400px;
	}
}

</style>