<div class="wrapper container row">
 <div class="flip-card col-md-4">
  <div class="flip-card-inner" data-init="Beladi_Salhapur">
    <div class="flip-card-front" style="background-image: url('resources/images/initiatives/awareness.jpg')">
    	<div class="heading">Beladi Salhapur</div>
    </div>
  </div>
</div> 
<div class="flip-card col-md-4">
  <div class="flip-card-inner" data-init="Chandpur">
    <div class="flip-card-front" style="background-image: url('resources/images/initiatives/agriculture.jpg')">
      <div class="heading">Chandpur</div>
    </div>
  </div>
</div> 
<div class="flip-card col-md-4">
  <div class="flip-card-inner" data-init="Charbba">
    <div class="flip-card-front" style="background-image: url('resources/images/initiatives/education.jpg')">
      <div class="heading">Charbba</div>
    </div>
  </div>
</div> 
<div class="flip-card col-md-4">
  <div class="flip-card-inner" data-init="Meerpur">
    <div class="flip-card-front" style="background-image: url('resources/images/initiatives/employment.jpg')">
      <div class="heading">Meerpur</div>
    </div>
  </div>
</div> 
<div class="flip-card col-md-4">
  <div class="flip-card-inner" data-init="Puranpur">
    <div class="flip-card-front" style="background-image: url('resources/images/initiatives/health.jpg')">
      <div class="heading">Puranpur</div>
    </div>
  </div>
</div> 
<!-- <div class="flip-card col-md-4">
  <div class="flip-card-inner" data-init="other">
    <div class="flip-card-front" style="background-image: url('resources/images/initiatives/other-initiative.jpg')">
      <div class="heading">OTHER INITIATIVES</div>
    </div>
  </div>
</div>  -->
</div>

<div id="initiativeDetail">
  <div class="row">
    <!-- <div class="form-group col-md-3">
      <label for="village">Select a village</label>
      <select class="form-control" id="village">

      </select>
    </div> -->
    <!-- <div class="col-md-6"></div> -->
    <div class="form-group col-md-12">
      <label for="event">Select an event</label>
      <select class="form-control" id="event">

      </select>
    </div>
  </div>
  <div id="eventDetailDiv" class="container"></div>
</div>

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="populateModal('other')">Open Large Modal</button> -->



<script>
  var initiative = ""
  function hook(){
    var event_html = "";
    $.each(initiatives[village], function(index, data){
      event_html += "<option value='"+index+"'>"+data["title"]+"</option>";
    })
    $('#event').html(event_html);
    // hookVillages();
    hookEvents();
  }
  // function hookVillages(){
  //   $('#village').on("change", function(){
  //     var event_html = "";
  //     $('#event').html('');
  //     var village = $('#village').val();
  //     $.each(initiatives[village][initiative], function(index, data){
  //       event_html += "<option value='"+index+"'>"+data["title"]+"</option>"
  //     console.log(data)

  //     })
  //     $('#event').html(event_html);
  //   })
  //   $('#village').trigger("change");
  //   hookEvents();
  // }
  function hookEvents(){
    $('#event').on("change", function(){
      $('#eventDetailDiv').load(initiatives[village][$('#event').val()]["html"]);
    })
    $('#event').trigger('change');
  }


  $('.flip-card-inner').on("click", function(){
    village = $(this).attr('data-init');
    hook();
    $('.wrapper').hide();
    $('#initiativeDetail').show();
  })
  // console.log(initiatives)
</script>



















<!-- <script>
  var currentInitiative = ""
  function hook(){
    var village_html = "";
    $.each(initiatives[currentInitiative], function(village, data){
      village_html += "<option value='"+village+"'>"+village+"</option>";
    })
    $('#village').html(village_html);
    hookVillages();
  }
  function hookVillages(){
    $('#village').on("change", function(){
      var event_html = "";
      $('#event').html('');
      var village = $('#village').val();
      $.each(initiatives[currentInitiative][village], function(index, data){
        event_html += "<option value='"+index+"'>"+data["title"]+"</option>"
      console.log(data)

      })
      $('#event').html(event_html);
    })
    $('#village').trigger("change");
    hookEvents();
  }
  function hookEvents(){
    $('#event').on("change", function(){
      $('#eventDetailDiv').load(initiatives[currentInitiative][$('#village').val()][$('#event').val()]["html"]);
    })
    //TESTING
    // console.log('HEY',currentInitiative,$('#village').val(),$('#event').val());
    $('#event').trigger('change');
  }


  $('.flip-card-inner').on("click", function(){
    currentInitiative = $(this).attr('data-init');
    hook();
    $('.wrapper').hide();
    $('#initiativeDetail').show();
  })
  console.log(initiatives)
</script> -->

<style>
#initiativeDetail{
  display: none;
}

.wrapper{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.content{
  padding-top: 40px;
}
.flip-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: transparent;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  opacity: 0.65;
}

/* Position the front and back side */
.flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.flip-card-front .heading{
	font-size: 24px;
	color: #ffffff;
	position: relative;
  perspective: 20px;
  top: 47%;
  width: 100%;
  letter-spacing: 5px;
  text-align: center;
  background-color: rgba(51,51,51,0.65);
}



.flip-card-inner
{
  -webkit-box-shadow: 0 28px 16px -26px black;
  -moz-box-shadow: 0 28px 16px -26px black;
  box-shadow: 0 28px 16px -26px black;
}

.flip-card-inner:hover
{
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);

  -webkit-box-shadow: 0 58px 36px -56px black;
  -moz-box-shadow: 0 58px 36px -56px black;
  box-shadow: 0 58px 36px -56px black;
  opacity: 1;
}

.flip-card-inner
{
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
}

.flip-card-inner:hover
{
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  opacity: 1;
}
</style>

<style>
  .init-image:nth-of-type(odd){
    float: left;
    margin-right: 40px;
  }
  .init-image:nth-of-type(even){
    float: right;
    margin-left: 40px;  
  }
  .init-container{
    text-align: justify;
    padding: 0px 30px;
    margin: auto;
    max-width: 800px;
  }
  .init-container .panel-heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  #initiativeDetail .row{
    max-width: 742px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
  }
  .flip-card-front .heading {
    text-transform: uppercase;
  }
</style>