<div class="village-content">
	<div class="village-div row">
		<div class="village-image-div col-md-8" style="background-image: url('resources/images/villages/meerpur-main.jpg')"></div>
		<div class="col-md-4 village-data" style="background-color: #600080;">
			<div class="village-heading">MEERPUR</div>
			<div class="village-para">
				<p>The village Meerpur-Muwazarpur is located in Bahadarabad block of Haridwar district in Uttarakhand. It is at a distance of 17 km from Roorkee and about 5 km apart from NH-58 which connects Roorkee to Haridwar. The nearest major Railway Stations are Roorkee and Haridwar Junction.</p>
			</div>
			<div class="village-know-more">
				<button class="btn my-button-design" data-village-id="MRPR">Read More</button>
			</div>
		</div>
	</div>
	<div class="village-div row">
		<div class="col-md-4 village-data" style="background-color: #d94b38;">
			<div class="village-heading">CHANDPUR</div>
			<div class="village-para">
				<p>The Chandpur Horawala includes Chanpur Khurd, Chandpur Kala and Horawala. This cluster is located at the banks of Kali River in Vikasnagar block of Dehradun district in Uttarakhand. Chandpur Kala and Chandpur Khurd come under the Gram Panchayat-Chandpur Khurd whereas Horawala is a separate Gram Panchayat. This cluster is approximately 110 kms away from Roorkee.</p>
			</div>
			<div class="village-know-more">
				<button class="btn my-button-design" data-village-id="CHPR">Read More</button>
			</div>
		</div>
		<div class="village-image-div col-md-8" style="background-image: url('resources/images/villages/chandpur-main.jpg')"></div>
	</div>
	<div class="village-div row">
		<div class="village-image-div col-md-8" style="background-image: url('resources/images/villages/chharba-main.jpg')"></div>
		<div class="col-md-4 village-data" style="background-color: #1c1c1c;">
			<div class="village-heading">CHHARBA</div>
			<div class="village-para">
				<p>Chharba is a large village located in Sahaspur block of Dehradun district, Uttarakhand, with total 1425 families residing. Chharba covers an area of about 1567.9 hectares. It is situated 7 km away from sub-district headquarter, Vikasnagar, and 22 km away from district headquarter Dehradun.</p>
			</div>
			<div class="village-know-more">
				<button class="btn my-button-design" data-village-id="CHRB">Read More</button>
			</div>
		</div>
	</div>
	<div class="village-div row">
		<div class="col-md-4 village-data" style="background-color: #e68a00;">
			<div class="village-heading">BELADI</div>
			<div class="village-para">
				<p>The village Beladi-Salhapur is located in Roorkee block of Haridwar district in Uttarakhand. It is approximately 7 km away from Roorkee. The nearest major railway stations are Haridwar and Roorkee Junction. It was identified and adopted under UBA on February 7, 2015.</p>
			</div>
			<div class="village-know-more">
				<button class="btn my-button-design" data-village-id="BLDI">Read More</button>
			</div>
		</div>
		<div class="village-image-div col-md-8" style="background-image: url('resources/images/villages/beladi-main.jpg')"></div>
	</div>
	<div class="village-div row">
		<div class="village-image-div col-md-8" style="background-image: url('resources/images/villages/puranpur-main.jpg')"></div>
		<div class="col-md-4 village-data" style="background-color: #662200;">
			<div class="village-heading">PURANPUR</div>
			<div class="village-para">
				<p>The village Puranpur-Salhapur is located in Bahadrabad block of Haridwar district in Uttarakhand. It is at a distance of 29 km from Roorkee. The nearest major Railway Stations are Roorkee and Haridwar Junction.  The Puranpur village comes under Meerpur cluster</p>
			</div>
			<div class="village-know-more">
				<button class="btn my-button-design" data-village-id="PRPR">Read More</button>
			</div>
		</div>
	</div>
	
</div>
<div class="village-detail"></div>

<script>
  $('.my-button-design').on("click", function(){
    var id = $(this).attr('data-village-id');
    $('.village-content').hide();
    $('.village-detail').html('');
    switch (id) {
      case "MRPR":
        $('.village-detail').load('components/villages/meerpur.html');
        break;
      case "CHPR":
        $('.village-detail').load('components/villages/chandpur.html');
        break;
      case "CHRB":
        $('.village-detail').load('components/villages/chharba.html');
        break;
      case "BLDI":
        $('.village-detail').load('components/villages/beladi.html');
        break;
      case "PRPR":
        $('.village-detail').load('components/villages/puranpur.html');
        break;
      default:
        // statements_def
        break;
    }
    $('.village-detail').show();
  })
</script>

<style>
	.village-content{
		padding-top: 60px;
	}
	.village-div.row{
		position: relative;
	}
	.village-data{
		color: white;
		word-spacing: 4px;
		height: 400px;
		padding: 20px 40px;
	}
	.village-data .village-heading{
		letter-spacing: 2px;
		font-size: 20px;
	}
	.village-image-div{
		height: 400px;
		background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}
	.btn.my-button-design{
		padding: 10px;
		border-radius: 40px;
		position: absolute;
		bottom: 20px;
		color: #fff;
		background-color: transparent;
		border:  1px solid white;
		transition: box-shadow 0.4s;
	}
	.btn.my-button-design:hover{
		box-shadow: 0px 0px 15px black;
	}
	.village-content .village-heading{

	}
	.village-data{
		padding-left: 70px;
		padding-right: 70px;
		text-align: justify;
	}
</style>