<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Cycle Donation</div>
		<div class="panel-body">
			<img src="resources/images/initiatives/Beladi/cycle_donation/1.JPG" width="60%" class="init-image"/>
			<p>
					To increase the interest of student towards academics, the team decided to award the academically bright students of secondary and primary school with unclaimed bicycles of the institute on February 16 2019. The names of the academically bright students of class 9th and 10th were given by the principal of the secondary school and the team successfully organized the camp. With due permission of Department of Student Welfare, IIT Roorkee, team UBA took hold of 7 unclaimed bicycles from the institute, repaired them and donated them to the secondary school students. The smile on the face of students spoke about the success of the initiative.
			</p>
			
			<!-- <img src="resources/images/initiatives/health/puranh1-1.jpg" width="40%" class="init-image"/>
			<blockquote>
				<p>"An ounce of prevention is worth a pound of cure."</p>
				<footer>Benjamin Franklin</footer>
			</blockquote>
			<p>In other words, the costs of a disease outbreak will far exceed the price of disease prevention.</p>
			<p>Keeping this in mind a Cattle Vaccination programme was organised on October 20, 2018. The aim of the programme was the vaccination of cattle against Foot and Mouth Disease (FMD) which may affect their health severely.</p>
			<img src="resources/images/initiatives/health/puranh1-2.jpg" width="40%" class="init-image"/>
			<p>Animals with FMD typically have fever and blisters on tongue and lips, in and around the mouth, and on mammary glands and around the hooves. FMD apart from being harmful to animals, also cause production loss and hardship for farmers and ranchers.</p>
			<p>The programme was a huge success and received great support from cattle owners of the village. 476 Cattle were vaccinated with the help of Government Veterinary Doctor of Teliwala, Haridwar, and his team. </p>
			<p>This programme not only vaccinated the cattle but also created awareness among normal cattle owners about the need for timely vaccination for disease prevention and health improvement among them.</p>
			<img src="resources/images/initiatives/health/puranh1-3.jpg" width="40%" class="init-image"/>
			<p>In the present day India, it is very important to increase awareness of such issues as they not only improve general cattle health but also increases the family income in some form or the other. So, let's come together to initiate such changes that affect the life of a common man for good in any possible manner.</p> -->
		</div>
	</div>	
</div>