<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Information Communication Technology</div>
		<div class="panel-body">
			<ul class="initiativeContentList">	
				<li class="initiativeContentTemplate">
						<img src="resources/images/initiatives/Charbba/ICT/1.jpg" width="45%" height="300px" class="init-image"/>
					<div>
							Considering the technical advancements going on in modern world, team decided to introduce the students of primary schools of Chharba with basics of computers. Therefore, an informative session was conducted on basics of Microsoft Office under the initiative Information and Communication Technology (ICT).
							<br/>
							<br/>
							The first session was conducted on November 03, 2018 in the Primary School I and II in which the students were taught basics of MS Paint, MS Word and MS PowerPoint. A total of 50 students attended the session. 
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
							In the next phase of the initiative, the team conducted ICT session on MS Paint and MS Word in Madrasa of Chharba on February 09, 2019. 45 students attended the session and they were also provided with handouts of each topic which was being demonstrated in the class.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
							To make the dreams of almost thousand of students true, the team of Unnat Bharat Abhiyan, IIT ROORKEE and the management of Madarsa are working hand in hand. On one side where the staff of Madarsa is providing quality education to almost 850 students with 500 girls, on the other side Unnat Bharat Abhiyan, IIT Roorkee is opening new doors for them to explore.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
							On Saturday, the team organized ICT (Information and Communication Technology) sessions in the Madarsa of the village, Chharba to meet the objective of providing opportunities to deprived rural children.
					</div>
				</li>
			</ul>
					<!-- <img src="resources/images/initiatives/health/puranh1-1.jpg" width="40%" class="init-image"/>
			<blockquote>
				<p>"An ounce of prevention is worth a pound of cure."</p>
				<footer>Benjamin Franklin</footer>
			</blockquote>
			<p>In other words, the costs of a disease outbreak will far exceed the price of disease prevention.</p>
			<p>Keeping this in mind a Cattle Vaccination programme was organised on October 20, 2018. The aim of the programme was the vaccination of cattle against Foot and Mouth Disease (FMD) which may affect their health severely.</p>
			<img src="resources/images/initiatives/health/puranh1-2.jpg" width="40%" class="init-image"/>
			<p>Animals with FMD typically have fever and blisters on tongue and lips, in and around the mouth, and on mammary glands and around the hooves. FMD apart from being harmful to animals, also cause production loss and hardship for farmers and ranchers.</p>
			<p>The programme was a huge success and received great support from cattle owners of the village. 476 Cattle were vaccinated with the help of Government Veterinary Doctor of Teliwala, Haridwar, and his team. </p>
			<p>This programme not only vaccinated the cattle but also created awareness among normal cattle owners about the need for timely vaccination for disease prevention and health improvement among them.</p>
			<img src="resources/images/initiatives/health/puranh1-3.jpg" width="40%" class="init-image"/>
			<p>In the present day India, it is very important to increase awareness of such issues as they not only improve general cattle health but also increases the family income in some form or the other. So, let's come together to initiate such changes that affect the life of a common man for good in any possible manner.</p> -->
		</div>
	</div>	
</div>