<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Cycle Donation</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
						<img src="resources/images/initiatives/Charbba/cycle_donation/1.jpg" width="45%" height="300px" class="init-image"/>
					<div>
							As Chharba occupies quite a large area, there are many students who belong to the distant areas of village and have to walk through a long distance to reach GIC (Government Inter College), Chharba. This leads to physical exhaustion and there are instances where children are unwilling to go to school because of the long distance and their incapability to afford a bicycle.  So team UBA targeted various bhawans in IIT Roorkee in order to procure unclaimed cycles for the donation purpose
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
							The cycle donation camp was organized on February 02, 2019 in GIC, Chharba. Team contacted the parents of all the recipients and invited them for the event. The team also invited Mrs Seema Devi, thepradhan of Chharba as a chief guest for the event. 
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
							The donation of cycles to the students with good academic records motivated even other students to work harder in their studies and get awarded in future.
					</div>
				</li>
			</ul>
			<!-- <img src="resources/images/initiatives/health/puranh1-1.jpg" width="40%" class="init-image"/>
			<blockquote>
				<p>"An ounce of prevention is worth a pound of cure."</p>
				<footer>Benjamin Franklin</footer>
			</blockquote>
			<p>In other words, the costs of a disease outbreak will far exceed the price of disease prevention.</p>
			<p>Keeping this in mind a Cattle Vaccination programme was organised on October 20, 2018. The aim of the programme was the vaccination of cattle against Foot and Mouth Disease (FMD) which may affect their health severely.</p>
			<img src="resources/images/initiatives/health/puranh1-2.jpg" width="40%" class="init-image"/>
			<p>Animals with FMD typically have fever and blisters on tongue and lips, in and around the mouth, and on mammary glands and around the hooves. FMD apart from being harmful to animals, also cause production loss and hardship for farmers and ranchers.</p>
			<p>The programme was a huge success and received great support from cattle owners of the village. 476 Cattle were vaccinated with the help of Government Veterinary Doctor of Teliwala, Haridwar, and his team. </p>
			<p>This programme not only vaccinated the cattle but also created awareness among normal cattle owners about the need for timely vaccination for disease prevention and health improvement among them.</p>
			<img src="resources/images/initiatives/health/puranh1-3.jpg" width="40%" class="init-image"/>
			<p>In the present day India, it is very important to increase awareness of such issues as they not only improve general cattle health but also increases the family income in some form or the other. So, let's come together to initiate such changes that affect the life of a common man for good in any possible manner.</p> -->
		</div>
	</div>	
</div>