<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Pond Restoration Initiative</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						Pond Restoration Initiative was started in Autumn Semester 2017 but due to the constant dumping of waste in the pond and the presence of certain unwanted species in the waters, it wasn’t getting any cleaner. Considering the deterioration in the health of the pond, the team contacted Ms Moshimmi, a PhD scholar at IIT Roorkee, to device a long-term solution for the treatment of the pond in the village Meerpur. Water samples were collected and were given for testing at the Hydrology Department, IIT Roorkee. Ms Moshimmi analyzed the report and prepared some possible solutions.

					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Water samples were collected on different days in the moths of July, August & September 2018 and were analyzed in the Hydrology Dept. IIT Roorkee.
						<ul>
							<li>Dumping of garbage and cow dung near the water body.</li>
							<li>Direct discharge of sewage from municipal area.</li>
							<li>Excess growth of algal blooms causing eutrophication.</li>
							<li>Dumping of plastics and papers in pond ecosystem.</li>
							<li>Presence of Chironomus larva (indication of pollution).</li>
						</ul>
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Following steps need to be taken to restore the pond as before:
						<ul>
							<li>Public Awareness has to be done first because at end it will be the village residents who will be benefited by the pond so they need to stop throwing any type of waste in the pond.</li>
							<li>Dredging of sediments from pond bottom as well as removal of noxious weeds manually.</li>
							<li>Proper drainage system for the sewage carried in the pond has to be installed. </li>
							<li>Ms Moushimmi suggested construction of wetlands for the water entering the pond. It removes contaminants which are in the form of heavy metals, nitrates and phosphates and also lowers BOD (Biochemical Oxygen Demand) and TSS (Total Suspended Solids) of the water.</li>
							<li>After the removal of contaminants, dosing of a bioremediation product will be done.</li>
						</ul>
					</div>
				</li>
				
			</ul>
		</div>
	</div>	
</div>