<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">PMKVY</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						It was observed by the team in the Educational-cum-Employment survey that there are many villagers who are unemployed and are interested in getting employment. In the last Financial Literacy Camp held in Meerpur village, the team got to know about a scheme, PMKVY (Pradhan Mantri Kaushal Vikas Yojana). So, for solving out the problem of employment team wants to spread awareness about this scheme among the villagers and help them register for the same, so that the villagers can take benefits of it.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						On January 19, 2019 the team went to the PMKVY office at Bahadarabad and met the center head, Mr Shaban Rao. After having a discussion with Mr Shaban Rao, the team collected sufficient information and the facts about the scheme.
						<br>Villagers who were unemployed were called and then helped register for the scheme. Many villagers showed keen interest, four of which got themselves registered for the scheme.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						The scheme was successfully implemented for the villagers, as till now total 4 ladies have enrolled for the Self-Employed Tailor course. The lady who had registered, motivated other villagers to register for the scheme. She also told them about the incentives and perks, she is getting by this scheme so that they can also avail these benefits. Her experience helped and motivated villagers a lot, as 3 more ladies registered for this scheme. With the collaboration between the PMKVY Centre team and the team UBA, this initiative is shaping to be a huge success.
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>