<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Campus Visit October 2019</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/13/2.JPG" width="45%" height="250px" class="init-image"/>
					<div>
						The team UBA Meerpur, IIT Roorkee organized a campus visit for the students of classes VI to VIII of Junior High School Meerpur during SRISHTI on March 9, 2019. The students enthusiastically participated in various activities and many of them expressed their desire to pursue higher education in future. Purpose of the visit was to show them various projects that were displayed during SRISHTI and give the students a glance of life at IIT Roorkee.
					</div>
				</li>
				<li class="initiativeContentTemplate" style="flex-direction:column">
					
					<div>
						The visit was conducted successfully and the students actively participated in the exhibition and were surprised to see the working robots, models and virtual games. They showed great interest in knowing behind the uses and working of each project. They were amazed after knowing the history of IIT Roorkee and found the campus very beautiful. Students were motivated to work hard and expressed their desire to be a part of a prestigious institute like IIT Roorkee, as they were fascinated by the facilities provided here. Such visits in future can help to bring a remarkably positive change in the lives of the students. The visit was highly appreciated by the school faculty members. They suggested the team to keep organizing such inspirational events for betterment of students and promised complete support from the school staff in future as well.
					</div>
					<img src="resources/images/initiatives/Meerpur/13/4.JPG" style="margin-top: 15px" width="70%" height="auto" maxHeight="auto !important" class="init-image"/>
				</li>
			</ul>
		</div>
	</div>	
</div>