<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Education Employment Survey</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						The results of test reveal that after dozing of the bacteria, there has been a significant decrease in the pH approaching the normal pH value of 7. The turbidity of CP-1 and CP-2 has increased a bit indicating that waste is continuously being dumped by the villagers at these points, while turbidity of CP-3 has decreased, showing signs of progress. Also, a decrease in the concentrations of Nitrogen and total dissolved solids can be observed, indicating improvements in the water quality of the pond for the survival of aquatic animals. Though there has been a steady increase in BOD and COD of the waterbody, the reason for which is still obscure, but it can been visually the ecology of the pond is now in the healthy stage. Hence, as a whole, the restoration process is progressing quite well.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Results of the survey:
						<ul>
							<li>Details of over 106 households (541 residents) of village Meerpur were obtained. To make the process of collection of data efficient and convenient, an android application named ‘Collect’ was used.</li>
							<li>Only 34% citizens of village Meerpur have completed higher education. Low literacy rate, especially among females of village Meerpur was observed.</li>
							<li>Only two households were found to have no toilets.</li>
							<li>Most of the residents were worried about the waste disposal of the village. There is neither a proper method to dispose waste nor a proper drainage system.</li>
							<li>36% of the people in the age group 21-60 are unemployed out of which only 22% are looking for some work. Women do not want to leave their households to work.</li>
						</ul>
					</div>
				</li>
			</ul>	
		</div>
	</div>	
</div>