<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Solving Pond Eutrophication</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/3/1.png" width="45%" height="300px" class="init-image"/>
					<div>
						A large pond in village Meerpur was the dumping point of the household and the agricultural waste of the village for a long time, thus leading to piling up of waste, and consequently degradation of the quality water for the organisms and the ecology of the pond. Eutrophication and growth of algae had completely choked the pond, making it a breeding hotspot for pathogens right in the centre of the village. The cleaning of the pond was necessary as the pond is located virtually at the centre of the village and the measure resonates with the Swachh Bharat Abhiyan, hence generating awareness about the same in the minds of people.
					</div>
				</li>
				<li class="initiativeContentTemplate" >
					<div>
						Water samples from different locations were collected where the drains met the pond
						One sample from each of the 4 drains was collected, namely D1, D2, D3 and D4 from the drain1, 2, 3 and 4 respectively. And three samples of Pond were also collected from different location of the pond, namely P1, P2 and P4. The location of P1, P2 and P4 are shown in the picture below:
					</div>
				</li>
				
				<li class="initiativeContentTemplate" >
					
					<div>
							Tests were conducted on the collected samples for BOD (Biological Oxygen Demand), COD (Chemical Oxygen Demand), DO (Dissolved Oxygen) and TSS (Total Suspended Solids).
							<br>
						The ponds receiving raw sewage are devoid of dissolved oxygen due to the discharge of high level of organic matter which imparts the high level of biological oxygen demand (BOD) and creates an anaerobic environment. Such conditions in such Ponds are mainly associated with generation and emission of extremely malodorous (similar to Rotten Egg smell) and toxic hydrogen sulfide gas.
					</div>
				</li>
				<li class="initiativeContentTemplate" >
					<div>
						JM Enviro Technologies Pvt. Ltd. is a multidisciplinary firm and a part of an internationally famed Parent Company, GFS Trading & Contracting Co. established in Kuwait. The firm is dedicated and committed to environmental pollution control and working to treat all types of wastes.
					</div>
				</li>
				<li class="initiativeContentTemplate" >
					<div>
						ABR (Anoxic Bioremediation) Technology of JM Enviro is one such processes where the appropriately selected combination of microorganisms is used for controlling odour generation and emission after a short span of commencement of dosing. Moreover, it eliminates the pollutants from domestic and industrial wastewater and sludge much faster than the conventional method of treatment and requires extremely low expenditure. 
					</div>
				</li>
				<li class="initiativeContentTemplate" style="flex-direction: column-reverse">
					
					<div>
						<h3>Solution:</h3>
						PERESNICKETY®713 is a precisely balanced blend of naturally occurring, strict and facultative anaerobic live bacterial strains that start dispersing within few hours as diluted in water.					
					</div>
					<img  class="right"src="resources/images/initiatives/Meerpur/3/3.png" width="80%" height="fit-content !important" style="max-height: fit-content" class="init-image"/>
				</li>
				<li class="initiativeContentTemplate" style="flex-direction: row" >
					<div>
						<h4>Strategy:</h4>
						<h4>First Phase:</h4>
						<ul>
							<li>Manual cleaning of the complete pond and drain for removal of the floating matters and garbage was performed.</li>
							<li>Calculation of Dosing Pattern based on Laboratory Analyses of the samples.</li>
						</ul>
						<h4>Second Phase:</h4>
						<ul>
							<li>Selection of Dosing Points for dosing of P-713, Installation of Dosing Systems. </li>
							<li>To start the treatment process activate the bacterial consortium in raw water.</li>
							<li>Commencement of P-713 dosing to control the odour generation & emission according to the dosing pattern established in Phase First.</li>
							<li>Sample collection and laboratory analysis to assess treatment level.</li>
						</ul>
					</div>
				</li>
				<li class="initiativeContentTemplate" >
						<img src="resources/images/initiatives/Meerpur/3/2.png" width="45%" height="300px" class="init-image"/>
					<div>
						<h4>Progress:</h4>
						Three collections points were made, from where samples are being collected by team UBA at a regular interval of 30 days. Till now, three sets of samples have been collected and tested. The results of the tested samples have been provided below.
					</div>
				</li>
				<li class="initiativeContentTemplate" >
					<div>
						The results of test reveal that after dozing of the bacteria, there has been a significant decrease in the pH approaching the normal pH value of 7. The turbidity of CP-1 and CP-2 has increased a bit indicating that waste is continuously being dumped by the villagers at these points, while turbidity of CP-3 has decreased, showing signs of progress. Also, a decrease in the concentrations of Nitrogen and total dissolved solids can be observed, indicating improvements in the water quality of the pond for the survival of aquatic animals. Though there has been a steady increase in BOD and COD of the waterbody, the reason for which is still obscure, but it can been visually the ecology of the pond is now in the healthy stage. Hence, as a whole, the restoration process is progressing quite well.
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>