<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Health Van</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						The one major, glaring issue highlighted in the various surveys carried out in Meerpur was the lack of proper, basic healthcare facilities in the village. Sure, there existed a Primary Health Care (PHC) Center, but the building had not been handed over to the concerned authorities for 15 years after its construction and thus, neither doctors nor relevant equipment was to be found there. Even more striking was the absence of even a few good doctors in the village. The villagers, thus have to visit Bahadarbad or sometimes Roorkee for just basic health check-ups.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Considering this major problem, the UBA team decided to work in this direction to resolve this issue. To do the same, team members visited Bharat Heavy Electricals Limited (BHEL), Haridwar. The CSR department of BHEL collaborated with the UBA IITR team and now provides a regular monthly visit of a mobile medical van as part of its CSR efforts to Meerpur. Through this checkup the villagers were given prescriptions, knowledge on how to avoid basic health problems and free medicines for treatment.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Impact of The Initiative: The Health checkup conducted by UBA in Meerpur has helped some of the people of the poor section of the society where people are neither able to afford medical treatment nor having any basic knowledge regarding health and hygiene. Through this checkup the villagers were given prescriptions, knowledge on how to avoid basic health problems and free medicines for treatment. The checkup was conducted in the Primary School, Meerpur, a centrally located place in the village, to make it easier for majority of people to attend it.
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>