<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">iNSPIRE</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/5/1.JPG" width="45%" height="300px" class="init-image"/>
					<div>
						iNSPIRE 2.0 initiative was carried out in Meerpur in September-October 2018 under which the team conducted various science experiments and demonstrations for students of Junior High School, Meerpur. In iNSPIRE 2.0 the team thought to involve the students in doing experiments rather than demonstrating them how to do it. So, the team conducted a science exhibition for classes 8th,9th and 10th for which projects and materials required to build the projects were distributed beforehand. 
					</div>
				</li>
				<li class="initiativeContentTemplate">
					
					<div>
						<h4>On September 29, 2018:</h4>
						Basic demonstration and working of the projects was shown to the students. Kits were distributed successfully and students were excited to bring projects on their own ideas as well.
					</div>
					<img class="right"src="resources/images/initiatives/Meerpur/5/2.jpg" width="45%" height="300px" class="init-image"/>
				</li>
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/5/3.jpg" width="45%" height="300px" class="init-image"/>
					<div>
						<h4>On October 02, 2018:</h4>
						The team went to Meerpur for conducting the Science Exhibition. The exhibition was conducted successfully with a participation of more than 100 students.
						<br>
						46 students of classes 6th to 10th were judged as winners and given prizes a few days later for their performance in the science exhibition.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					
					<div>
							The science exhibition saw a participation of over 100 students out of which many students made projects based on their own ideas and understanding. Students were very enthusiastic in briefing the working and logic behind their projects and also made slight changes in the projects assigned to them which was great as this shows they were not only making projects because it was given to them instead, they wanted to make something new out of it.
					</div>
					<img class="right"src="resources/images/initiatives/Meerpur/5/4.jpg" width="45%" height="300px" class="init-image"/>
				</li>
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/5/5.jpg" width="45%" height="300px" class="init-image"/>
					<div>
						The students were judged as winners after a proper evaluation of each and every project. The winners were awarded prizes and they will have a visit to IIT Roorkee to motivate them even more for studies and to show them what a premier institute like IIT looks like and where they can land if they study hard.
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>