<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Self Defense Camp</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						Self-defence especially for women is of utmost importance in the kind of world we live in
						today. In a country like India where the cases of gender violence are on rise, out of which
						many go unreported, self-defence has become a necessity more than ever. The vision
						behind organizing the camp was to give the girls of the village the ability to protect and
						overcome an attacker. Knowing that if one has the ability to defend themselves gives them
						the confidence and freedom to fully explore the world, meet new people and find new ways
						to engage with others.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Seeking to empower village school girls in personal safety and train them to escape from
						violence and crime unleashed against them, UBA, IIT Roorkee in collaboration with
						Taekwondo group, IIT Roorkee decided to organize a self-defence camp for the girls of the
						village Meerpur. The camp was conducted on March 4-5, 2016 and a total number of 93
						girls attended the camp.
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>