<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Campus Visit October 2018</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/8/1.JPG" width="45%" height="300px" class="init-image"/>
					<div>
						The enthusiasm of students to learn more about the IITR campus inspired the team to conduct a campus visit to IIT Roorkee for the winners of the science exhibition conducted on October 2nd, 2018 under the iNSPIRE 2.0 initiative to show them what could be a possible destination for their desire to learn. The IITR Campus Visit was conducted on October 26th, 2018. It was the first day of IIT Roorkee’s cultural fest – THOMSO. Students were shown various facilities and all the important and intimidating places of the campus.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					
					<div>
						This was meant as an incentive for the winners of the science exhibition to continue to work harder to gain rewards in the form of a new learning opportunity.
						<br>
						Team went to Meerpur and 42 students were brought to IITR and after the campus visit they were dropped back at their homes.
					</div>
					<img class="right" src="resources/images/initiatives/Meerpur/8/2.JPG" width="45%" height="300px" class="init-image"/>
				</li>
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/8/3.JPG" width="45%" height="300px" class="init-image"/>
					<div>
						The visit was conducted successfully and the students actively participated in the visit and they were also entertained by the crowd and stalls in the campus as the cultural fest was going on. Students were really impressed by the library, the book issue/return system and they were fascinated by the beauty of the Earth Science Museum which had a chance to see during the visit.
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>