<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Cattle Vaccination</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<img src="resources/images/initiatives/Meerpur/12/3.JPG" width="45%" height="300px" class="init-image"/>
					<div>
						During the ‘Education cum Employment Survey’ conducted in village Meerpur in August 2018, the team observed that agriculture and dairy is the main source of occupation for most of the residents of the village. But it is observed that the villagers often neglect the health of their cattle which leads to various diseases among them. Hence, the team decided to organize a veterinary camp in the village with an aim to provide vaccination to the cattle against Foot and Mouth Diseases (FMD). The aim of this camp was not only to provide vaccination to cattle but also to create awareness among villagers regarding the importance of timely vaccination of cattle for disease prevention and health improvement.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					
					<div>
						On February 9, 2019 the team went door to door along with the doctors for cattle vaccination.
						<br>
						The camp was conducted successfully with more than 430 cattle vaccinated in the village. The villagers also expressed their gratitude to Unnat Bharat Abhiyan (UBA) team and the veterinary doctors for providing vaccination to their cattle against Foot and Mouth Diseases free of cost. Along with the vaccination, villagers were also provided with medicines at low costs for cattle against several diseases and to enhance the milk production.
					</div>
					<img class="right" src="resources/images/initiatives/Meerpur/12/1.JPG" width="45%" height="300px" class="init-image"/>
				</li>
			</ul>
		</div>
	</div>	
</div>