<div class="init-container">
	<div class="panel panel-default">
		<div class="panel-heading">Information Communication Technology</div>
		<div class="panel-body">
			<ul class="initiativeContentList">
				<li class="initiativeContentTemplate">
					<div>
						Computers education has become a necessity for higher education and jobs in today's world. Keeping this in mind team Unnat Bharat Abhiyan started Information and Communication Technology (ICT) Initiative in village Meerpur, Haridwar to provide basic computer education to the students of classes 9th and 10th of Junior High School, Meerpur. The initiative consisted of two sessions, one for MS Paint and another for MS Word. Students were taught how to draw shapes and pictures in MS Paint and how to write simple paragraphs and format them in MS Word. The team gave laptops to the students during the sessions to practice the things they learned and also try something on their own. To ensure that the students remember the concepts the team made charts and pasted them in the classrooms and distributed printed labeled diagrams of these applications. 
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						More than 100 students of classes 9th and 10th attended the sessions and were very interactive and excited to learn about operating a computer. Only few of them have laptops/computers in their homes and for some of them this was the first time they used a laptop/computer. Operating a computer is intimidating to the people who don’t use it so one has to break the barrier and help them realize that it is not difficult and the team did the same. The charts made by the team were very helpful for the students during the session as everyone couldn’t be provided with a laptop. After showing the students how to use MS Paint and MS Word, every student was given some time to do everything we taught them in the laptop and try some other things as well.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						Students found it very easy to learn and at the end of the sessions everyone was able to write some paragraphs from their books and format them appropriately in MS Word and draw a basic picture and color it using a crayon or a brush in MS Paint. Students are now also familiar with the concept of copy and paste as it was demonstrated in both the sessions. The school Principal appreciated the team’s effort to help the students gain some technical knowledge as computer is not taught in government school but it is the need of the hour.
					</div>
				</li>
				<li class="initiativeContentTemplate">
					<div>
						The initiative was conducted in the months of January an February 2019.
						Some of the students had not used a computer before so this was their first experience and they didn’t find it difficult so they won’t hesitate much in the future from learning more, which was the motive of this initiative.
					</div>
				</li>

			</ul>
		</div>
	</div>	
</div>