<div class="container">
	<div class="jumbotron">
		<h1>Beladi</h1>
		<p>Haridwar Tehsil, Haridwar (Uttrakhand)</p>
	</div>
	<div class="mrpr-content row">
		<div class="col-md-7">
		<p>Beladi Salhapur is a large village located in Hardwar Tehsil of Haridwar district, Uttarakhand with total 506 families residing. The Beladi Salhapur village has population of 3118 of which 1678 are males while 1440 are females as per Population Census 2011. </p>
		<p>In Beladi Salhapur village population of children with age 0-6 is 554 which makes up 17.77 % of total population of village. Average Sex Ratio of Beladi Salhapur village is 858 which is lower than Uttarakhand state average of 963. Child Sex Ratio for the Beladi Salhapur as per census is 776, lower than Uttarakhand average of 890. </p>
		<p>Beladi Salhapur village has lower literacy rate compared to Uttarakhand. In 2011, literacy rate of Beladi Salhapur village was 68.49 % compared to 78.82 % of Uttarakhand. In Beladi Salhapur Male literacy stands at 78.40 % while female literacy rate was 57.18 %.The current Pradhan of Beladi is Mrs Savita . Although she is the Sarpanch, all the work and political lookout is done by her husband, Pawanpal.</p>
		<p>Beladi, inspite of being in Uttarakhand, is devoid of tough and rocky terrain. Beladi can be reached in 30 minutes by taking Vikram(Localname of Auto) from Bahadarabad located on National Highway 58.</p>
		<p>Children of these villagers receive education in 1 primary schools, 1 Government Inter College (GIC), and multiple private schools in and out of the village. All in all, the children receive education and hence are more aware of the role of coming of generation teens in the shaping of the country.</p>
		<p>Schedule Caste (SC) constitutes 70.49 % of total population in Beladi village, while there is currently no Schedule Tribe (ST) in the village. In Beladi village out of total population, 806 were engaged in work activities.</p>
		<p>The village has all the primary shops, including clothing, food, stationary and general appliances. The nearest Bank is PNB bank located in Roshanabad. Bank Mitra regularly visits the village for monetary transactional purpose. This means that almost every family in the village, not every adult, has a bank account and a debit card in their name.</p>
	</div>
	<div class="col-md-5">
		<div>
				<span class="heading">BELADI SALHAPUR LAND USE MAP</span>
				<div class="col-md-12 land-use-map" style="height: 310px; background-image: url('resources/images/villages/beladi-land-use.jpg')"></div>
			</div>
	</div>
</div>
		
	<div class="maps">
<!-- 		<h2><span>BELADI SALHAPUR PHYSICAL MAP</span></h2>
		<img src="resources/images/villages/meerpur-physical.jpg" /> -->
		<div class="col-md-6">
		<h2><span>HOW TO REACH</span></h2>
		<iframe style="border:0" src="https://www.google.com/maps/embed/v1/directions?destination=place_id:ChIJ6Z5tcoKxDjkR2W--Pideoe4&amp;origin=place_id:ChIJGVGzCG6zDjkRcgq9XsJdj3k&amp;key=AIzaSyCwu8pG4UoXFIlr7qySH3Ezb-aZXPAOCiE" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
	</div>
	<div class="col-md-6">
		<h2><span>DETAILS</span></h2>
		<span class="heading">Location</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Level</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>State</td>
					<td>Uttrakhand</td>
				</tr>
				<tr>
					<td>District</td>
					<td>Haridwar</td>
				</tr>
				<tr>
					<td>Gram Panchayat</td>
					<td>Beladi Salhapur</td>
				</tr>
				<tr>
					<td>Village Pradhan/ Head</td>
					<td>Pinki</td>
				</tr>
				<tr>
					<td>Block</td>
					<td>Roorkee</td>
				</tr>
				<tr>
					<td>Block Officer</td>
					<td>--</td>
				</tr>
				<tr>
					<td>Police Station</td>
					<td>--</td>
				</tr>
			</tbody>
		</table>
		<span class="heading">Demography</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Particular</th>
					<th>Total</th>
					<th>Male</th>
					<th>Female</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Total No. of Houses</th>
					<td>340</td>
					<td>--</td>
					<td>--</td>
				</tr>
				<tr>
					<th>Population</th>
					<td>1860</td>
					<td>1001</td>
					<td>859</td>
				</tr>
				<tr>
					<th>Child (0-6)</th>
					<td>309</td>
					<td>172</td>
					<td>137</td>
				</tr>
				<tr>
					<th>Schedule Caste</th>
					<td>1263</td>
					<td>675</td>
					<td>588</td>
				</tr>
				<tr>
					<th>Schedule Tribe</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<th>Literacy</th>
					<td>60.16%</td>
					<td>68.03%</td>
					<td>50.98%</td>
				</tr>
				<tr>
					<th>Total Workers</th>
					<td>504</td>
					<td>469</td>
					<td>35</td>
				</tr>
				<tr>
					<th>Main Workers</th>
					<td>479</td>
					<td>449</td>
					<td>30</td>
				</tr>
				<tr>
					<th>Marginal Workers</th>
					<td>25</td>
					<td>20</td>
					<td>5</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>

<style>
.land-use-map, .physical-map{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.mrpr-content{
	padding-bottom: 30px;
}
.mrpr-content p{
	text-align: justify;
	font-size: 14px;
}
.maps img{
	margin-bottom: 22px;
}
.maps{
	text-align: center;
	padding-bottom: 30px;
}
.maps h2{
	text-align: left;
}
h2 span{
	font-size: 24px;
	letter-spacing: 3px;
	font-weight: 700;
	border-bottom: red 3px solid;
}

span.heading{
	font-size: 20px;
	font-weight: 500;
}
</style>