<div class="container">
	<div class="jumbotron">
		<h1>Chandpur</h1>
		<p>Vikasnagar block, Dehradun (Uttrakhand)</p>
	</div>
	<div class="mrpr-content row">
		<div class="text-content col-md-7">
		<p>
			Chandpur Kala and Horawala both villages are situated in Vikasnagar Tehshil in Derhadun
			district of Uttarakhand State, India.
		</p>
		<p>
			Chandpur village having population of about 700 (318 eligible for voting) situated near the
			bank of the Kali river. It is the 17 th smallest village by area in the sub district having
			geographical area of 61.98 hectares. Location code of the village is 045014
		</p>
		<p>
			Horawala is located 19 KM towards west from District headquarters Dehradun. It’s a village
			of population about 1836 people in 366 families. Sex ratio of the village Is 972 females per
			1000 male. Geographical of the Horawala village is 920.15 hectares and having location code
			of 045012.
		</p>
		<p>
			Mr Sanju is the Pradhan of Chandpur village and Mr Ravindra is the Pradhan of Horawala
			village.
		</p>
		<p>
			Agriculture is the main source of income of the Chandpur village. Wheat, Maize, Rice,
			Mustards and cash crops like vegetables, ginger, mango grows in the Chandpur village. Type
			of soil is Mold (Domat) soil.
		</p>
		<p>
			There is 1 Government Primary School, 1 Government Inter college and two private schools
			named (1) Anunaad Public School (2) EcoleGlobale Girls International School in the Chandpur-
			Horawala cluster. Students are aware of different career choices and mostly of them are
			interested in choosing Army, Police ,Teacher, Doctor as their career options. The overall
			literacy rate of Horawala village is 79.72%, with male literacy rate being 88.31% and female
			being 71.08%.
		</p>
		<p>
			20% of the population of the Chandpur cluster is categorized as OBC/SC.
		</p>
		<p>
			Village Chandpur lags in the healthcare facilities. There is no hospital and no Primary
			Healthcare Center (PHC) in the village.
		</p>
	</div>
	<div class="detail-table col-md-5">
		<span class="heading" style="margin:auto">CHANDPUR LAND USE MAP</span>
		<div class="col-md-12 land-use-map" style="height: 310px; background-image: url('resources/images/villages/chandpur-land-use.jpg')"></div>
		<!-- <img width="41.67%" src="resources/images/villages/chandpur-land-use.jpg" /> -->
		<!-- <h2><span>DETAILS</span></h2> -->
		
<!-- 		<span class="heading">Demography</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Particular</th>
					<th>Total</th>
					<th>Male</th>
					<th>Female</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Total No. of Houses</th>
					<td>542</td>
					<td>--</td>
					<td>--</td>
				</tr>
				<tr>
					<th>Population</th>
					<td>3061</td>
					<td>1589</td>
					<td>1472</td>
				</tr>
				<tr>
					<th>Child (0-6)</th>
					<td>450</td>
					<td>224</td>
					<td>226</td>
				</tr>
				<tr>
					<th>Schedule Caste</th>
					<td>141</td>
					<td>78</td>
					<td>63</td>
				</tr>
				<tr>
					<th>Schedule Tribe</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<th>Literacy</th>
					<td>76.91%</td>
					<td>84.18%</td>
					<td>68.94%</td>
				</tr>
				<tr>
					<th>Total Workers</th>
					<td>898</td>
					<td>820</td>
					<td>78</td>
				</tr>
				<tr>
					<th>Main Workers</th>
					<td>791</td>
					<td>729</td>
					<td>62</td>
				</tr>
				<tr>
					<th>Marginal Workers</th>
					<td>107</td>
					<td>91</td>
					<td>16</td>
				</tr>
			</tbody>
		</table> -->
	</div>
	</div>
	<div class="test">

	</div>
	<div class="maps">
		<div class="col-md-6">
		
		<!-- <h2><span>MEERPUR PHYSICAL MAP</span></h2> -->
		<!-- <img src="resources/images/villages/meerpur-physical.jpg" /> -->
		<h2><span>HOW TO REACH</span></h2>
		<iframe style="border:0" src="https://www.google.com/maps/embed/v1/directions?destination=place_id:ChIJb3fXunGdCTkR-lexm0O9GoU&amp;origin=place_id:ChIJGVGzCG6zDjkRcgq9XsJdj3k&amp;key=AIzaSyCwu8pG4UoXFIlr7qySH3Ezb-aZXPAOCiE" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>
	</div>
	<div class="col-md-6">
		<h2><span>LOCATION</span></h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Level</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>State</td>
					<td>Uttrakhand</td>
				</tr>
				<tr>
					<td>District</td>
					<td>Dehradun</td>
				</tr>
				<tr>
					<td>Gram Panchayat</td>
					<td>--</td>
				</tr>
				<tr>
					<td>Village Pradhan/ Head</td>
					<td>--</td>
				</tr>
				<tr>
					<td>Block</td>
					<td>Vikasnagar</td>
				</tr>
				<tr>
					<td>Block Officer</td>
					<td>--</td>
				</tr>
				<tr>
					<td>Police Station</td>
					<td>--</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>

<style>
.land-use-map{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mrpr-content{
	/* padding-bottom: 30px; */
/* 	padding-left: 20%;
	padding-right: 20%; */
}
.mrpr-content .text-content{

}
.mrpr-content .detail-table{

}
.mrpr-content p{
	text-align: justify;
	font-size: 14px;
}
.maps img{
	margin-bottom: 22px;
}
.maps{
	text-align: center;
	padding-bottom: 30px;
}
.maps h2{
	text-align: left;
}
h2 span{
	font-size: 24px;
	letter-spacing: 3px;
	font-weight: 700;
	border-bottom: red 3px solid;
}

span.heading{
	font-size: 20px;
	font-weight: 500;
}
</style>