<div class="container">
	<div class="jumbotron">
		<h1>Meerpur</h1>
		<p>Bahadarabad block, Haridwar (Uttrakhand)</p>
	</div>
	<div class="mrpr-content">
		<p>Meerpur-Muwazarpur is a village located in Bahadarabad block of Haridwar District, Uttarakhand with total 650 families. As per government registers, pin code of Meerpur-Muwazarpur is 249402. It is situated in the rural part of Haridwar district, 18 km away from the district headquarter and 17 km away from Roorkee. Public transport is available till a market located 8km from Meerpur-Muwazarpur in Bahadarabad. Thereafter, one has to take “Vikram” (auto) for 8 km.</p>

		<p>The current Pradhan of Meerpur-Muwazarpur is Ms Reena Devi. 
		Meerpur-Muwazarpur village has a lower literacy rate compared to Uttarkhand. In 2011, the literacy rate of the village was 76.91% compared to 78.82% of Uttarakhand. In Meerpur-Muwazarpur Male literacy stands at 84.18% while the female literacy rate was 68.94</p>

		<p>There are 3 Government Schools in total in the village. One is Primary, one is Secondary and one is Junior High School. There is also 2 Private schools in the village. For Higher Education children can go to Bahadarabad or Haridwar or Roorkee.</p>

		<p>There is no as such problem of Electricity in the village as Electricity present for 18-20 hours each day.</p>

		<p>Meerpur-Muwazarpur is a culturally and religiously diverse village. Majority Population of the village is Hindu, about 30% population is Muslims. The 55% of the total population is either SC or St or OBC. </p>

		<p>The nearest Health Centre is 8 km away in Badarabad and another one is in Roorkee that is 22 km. Although, there are some small clinics in the village so primary health checkup can be done in the village itself.</p>
		<h2><span>DETAILS</span></h2>
		<span class="heading">Location</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Level</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>State</td>
					<td>Uttrakhand</td>
				</tr>
				<tr>
					<td>District</td>
					<td>Haridwar</td>
				</tr>
				<tr>
					<td>Gram Panchayat</td>
					<td>Meerpur Muwazarpur</td>
				</tr>
				<tr>
					<td>Village Pradhan/ Head</td>
					<td>Reena</td>
				</tr>
				<tr>
					<td>Block</td>
					<td>Bahadarabad</td>
				</tr>
				<tr>
					<td>Block Officer</td>
					<td>--</td>
				</tr>
				<tr>
					<td>Police Station</td>
					<td>--</td>
				</tr>
			</tbody>
		</table>
		<span class="heading">Demography</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Particular</th>
					<th>Total</th>
					<th>Male</th>
					<th>Female</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Total No. of Houses</th>
					<td>542</td>
					<td>--</td>
					<td>--</td>
				</tr>
				<tr>
					<th>Population</th>
					<td>3061</td>
					<td>1589</td>
					<td>1472</td>
				</tr>
				<tr>
					<th>Child (0-6)</th>
					<td>450</td>
					<td>224</td>
					<td>226</td>
				</tr>
				<tr>
					<th>Schedule Caste</th>
					<td>141</td>
					<td>78</td>
					<td>63</td>
				</tr>
				<tr>
					<th>Schedule Tribe</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<th>Literacy</th>
					<td>76.91%</td>
					<td>84.18%</td>
					<td>68.94%</td>
				</tr>
				<tr>
					<th>Total Workers</th>
					<td>898</td>
					<td>820</td>
					<td>78</td>
				</tr>
				<tr>
					<th>Main Workers</th>
					<td>791</td>
					<td>729</td>
					<td>62</td>
				</tr>
				<tr>
					<th>Marginal Workers</th>
					<td>107</td>
					<td>91</td>
					<td>16</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="maps">
		<h2><span>MEERPUR LAND USE MAP</span></h2>
		<img src="resources/images/villages/meerpur-land-use.jpg" />
		<h2><span>MEERPUR PHYSICAL MAP</span></h2>
		<img src="resources/images/villages/meerpur-physical.jpg" />
		<h2><span>HOW TO REACH</span></h2>
		<iframe style="border:0" src="https://www.google.com/maps/embed/v1/directions?destination=place_id:ChIJ0_vRUA5KCTkRbmJYWmBozF4&amp;origin=place_id:ChIJGVGzCG6zDjkRcgq9XsJdj3k&amp;key=AIzaSyCwu8pG4UoXFIlr7qySH3Ezb-aZXPAOCiE" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
	</div>
</div>

<style>
.mrpr-content{
	padding-bottom: 30px;
	padding-left: 20%;
	padding-right: 20%;
}
.mrpr-content p{
	text-align: justify;
	font-size: 14px;
}
.maps img{
	margin-bottom: 22px;
}
.maps{
	text-align: center;
	padding-bottom: 30px;
}
.maps h2{
	text-align: left;
}
h2 span{
	font-size: 24px;
	letter-spacing: 3px;
	font-weight: 700;
	border-bottom: red 3px solid;
}

span.heading{
	font-size: 20px;
	font-weight: 500;
}
</style>