<div class="container">
	<div class="jumbotron">
		<h1>Mohand</h1>
		<p>Haridwar Tehsil, Haridwar (Uttrakhand)</p>
	</div>
	<div class="mrpr-content row">
		<div class="text-content col-md-7">
		<p>Mohand is a large village located in Muzaffarabad of Saharanpur district, Uttar Pradesh with total 519 families residing. The village has population of 2826 of which 1517 are males while 1309 are females as per Population Census 2011. The population of children with age 0-6 is 516 which makes up 18.26 % of total population of village. Average Sex Ratio of village is 863 which is lower than Uttrakhand state average of 963. Child Sex Ratio for the Mohand as per census is 977, higher than Uttrakhand average of 890.The village has lower literacy rate compared to Uttarakhand. In 2011, literacy rate of Mohand was 33.51 % compared to 78.82 % of Uttrakhand. The Male literacy stands at 40.61 % while female literacy rate was 25.05 %.</p>
		<p>As per constitution of India and Panchyati Raj Act, Mohand Range village is administrated by Sarpanch (Head of Village) who is elected representative of village. In the village, most of the villagers are from Schedule Caste (SC). Schedule Caste (SC) constitutes 39.07 % of total population of village. The village currently doesn’t have any Schedule Tribe (ST) population.</p>
	</div>
	<div class="col-md-5">
		<div>
				<span class="heading">BELADI SALHAPUR LAND USE MAP</span>
				<div class="col-md-12 land-use-map" style="height: 310px; background-image: url('resources/images/villages/beladi-land-use.jpg')"></div>
			</div>
	</div>
</div>
		
	<div class="maps">
<!-- 		<h2><span>BELADI SALHAPUR PHYSICAL MAP</span></h2>
		<img src="resources/images/villages/meerpur-physical.jpg" /> -->
		<div class="col-md-6">
		<h2><span>HOW TO REACH</span></h2>
		<iframe style="border:0" src="https://www.google.com/maps/embed/v1/directions?destination=place_id:ChIJ6Z5tcoKxDjkR2W--Pideoe4&amp;origin=place_id:ChIJGVGzCG6zDjkRcgq9XsJdj3k&amp;key=AIzaSyCwu8pG4UoXFIlr7qySH3Ezb-aZXPAOCiE" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
	</div>
	<div class="col-md-6">
		<h2><span>DETAILS</span></h2>
		<span class="heading">Location</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Level</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>State</td>
					<td>Uttrakhand</td>
				</tr>
				<tr>
					<td>District</td>
					<td>Haridwar</td>
				</tr>
				<tr>
					<td>Gram Panchayat</td>
					<td>Beladi Salhapur</td>
				</tr>
				<tr>
					<td>Village Pradhan/ Head</td>
					<td>Pinki</td>
				</tr>
				<tr>
					<td>Block</td>
					<td>Roorkee</td>
				</tr>
				<tr>
					<td>Block Officer</td>
					<td>--</td>
				</tr>
				<tr>
					<td>Police Station</td>
					<td>--</td>
				</tr>
			</tbody>
		</table>
		<span class="heading">Demography</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Particular</th>
					<th>Total</th>
					<th>Male</th>
					<th>Female</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Total No. of Houses</th>
					<td>340</td>
					<td>--</td>
					<td>--</td>
				</tr>
				<tr>
					<th>Population</th>
					<td>1860</td>
					<td>1001</td>
					<td>859</td>
				</tr>
				<tr>
					<th>Child (0-6)</th>
					<td>309</td>
					<td>172</td>
					<td>137</td>
				</tr>
				<tr>
					<th>Schedule Caste</th>
					<td>1263</td>
					<td>675</td>
					<td>588</td>
				</tr>
				<tr>
					<th>Schedule Tribe</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<th>Literacy</th>
					<td>60.16%</td>
					<td>68.03%</td>
					<td>50.98%</td>
				</tr>
				<tr>
					<th>Total Workers</th>
					<td>504</td>
					<td>469</td>
					<td>35</td>
				</tr>
				<tr>
					<th>Main Workers</th>
					<td>479</td>
					<td>449</td>
					<td>30</td>
				</tr>
				<tr>
					<th>Marginal Workers</th>
					<td>25</td>
					<td>20</td>
					<td>5</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>

<style>
.land-use-map, .physical-map{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.mrpr-content{
	padding-bottom: 30px;
}
.mrpr-content p{
	text-align: justify;
	font-size: 14px;
}
.maps img{
	margin-bottom: 22px;
}
.maps{
	text-align: center;
	padding-bottom: 30px;
}
.maps h2{
	text-align: left;
}
h2 span{
	font-size: 24px;
	letter-spacing: 3px;
	font-weight: 700;
	border-bottom: red 3px solid;
}

span.heading{
	font-size: 20px;
	font-weight: 500;
}
</style>